.PropertyBoard ul {
    list-style: none;
}

.PropertyBoard .property-wrapper .property-key {
    text-align: right;
    vertical-align: middle;
    line-height: 40px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 25%;
}

.PropertyBoard .property-wrapper .property-value {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
}