.RenderHtml iframe {
    width: 100%;
    border: none;
    overflow: hidden;
    height: 300px;
}

.RenderHtml {
    background: #fff;
}

.RenderHtml pre {
    background: rgba(0, 0, 0, 0.05);
    padding: 15px;
}

.RenderHtml {
    padding: 40px;
}

.RenderHtml h1 {
    color: #0d1a26;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 8px;
    font-family: Avenir, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-variant: tabular-nums;
    line-height: 38px;
}

.RenderHtml section {
    color: #314659;
    font-size: 14px;
    line-height: 2;
}

.RenderHtml p {
    margin: 1em 0;
}

.RenderHtml img {
    height: 100%;
    width: 100%;
    padding: 5px;
}

.RenderHtml .space-20 {
    height: 20px;
}

.RenderHtml h2,
h3,
h4,
h5,
h6 {
    color: #0d1a26;
    font-family: Avenir, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-variant: tabular-nums;
    margin: 1.6em 0 .6em;
    font-weight: 500;
    clear: both;
}

.RenderHtml ul {
    list-style: none;
}

.RenderHtml ul li {
    list-style-type: circle;
    margin-left: 20px;
    padding-left: 4px;
}

.RenderHtml .plus {
    font-size: 30px;
    color: #aaa;
    margin: 0 20px;
}

.RenderHtml .logo-wrapper {
    display: flex;
    align-items: center;
}

.RenderHtml .layout-top {
    height: 50px;
}

.RenderHtml .layout-bottom {
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RenderHtml .layout-bottom .layout-bottom-block {
    width: 33%;
    height: 100%;
    margin-right: 1%;
}

.RenderHtml .layout-bottom .layout-bottom-block:last-child {
    margin: 0px;
}

.RenderHtml .layout-bottom .layout-modal {
    width: 220px;
    height: 120px;
    background: #A6A6A6;
}

.RenderHtml .layout-left {
    width: 130px;
    height: 330px;
    margin-right: 20px;
    float: left;
}