.RenderHtml iframe {
    width: 100%;
    border: none;
    overflow: hidden;
    height: 300px;
}

.RenderHtml {
    background: #fff;
}

.RenderHtml pre {
    background: rgba(0, 0, 0, 0.05);
    padding: 15px;
}

.RenderHtml .HomePage {
    padding: 40px;
}

.RenderHtml .HomePage h1 {
    color: #0d1a26;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 8px;
    font-family: Avenir, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-variant: tabular-nums;
    line-height: 38px;
}

.RenderHtml .HomePage section {
    color: #314659;
    font-size: 14px;
    line-height: 2;
}

.RenderHtml .HomePage p {
    margin: 1em 0;
}

.RenderHtml .HomePage img {
    height: 100%;
}

.RenderHtml .space-20 {
    height: 20px;
}

.RenderHtml .HomePage h2,
h3,
h4,
h5,
h6 {
    color: #0d1a26;
    font-family: Avenir, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-variant: tabular-nums;
    margin: 1.6em 0 .6em;
    font-weight: 500;
    clear: both;
}

.RenderHtml .HomePage ul {
    list-style: none;
}

.RenderHtml .HomePage ul li {
    list-style-type: circle;
    margin-left: 20px;
    padding-left: 4px;
}

.RenderHtml .HomePage .plus {
    font-size: 30px;
    color: #aaa;
    margin: 0 20px;
}

.RenderHtml .HomePage .logo-wrapper{
    display: flex;
    align-items: center;
}