::-webkit-scrollbar {
  display: none;
}

.ant-modal-title {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

.ant-modal-body {
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}