.ModuleLayout .plus-icon {
    line-height: 0.4;
    font-size: 6em;
    color: #bcc3cb;
    height: 54px;
}

.ModuleLayout {
    background: #f5f6fa;
    height: 100%;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}