.Navigation .content {
    height: 65px;
    background: #2e7df3;
    box-shadow: 0px 0px 9px 0px rgba(39, 93, 214, 0.39);
}

.Navigation .children-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 29px 0px rgba(93, 106, 113, 0.12);
    border-radius: 2px;
}

.Navigation .content .content-wrapper {
    font-family: MicrosoftYaHeiLight;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #ffffff;
    float: left;
    height: 100%;
    line-height: 65px;
    text-align: center;
}

.Navigation .content .content-switch {
    float: right;
    margin-right: 20;
    color: #FFF;
}

.Navigation .content .content-space {
    width: 1px;
    height: 100%;
    background: #2372e7;
    float: left;
}

.Navigation .content .content-time {
    font-family: MicrosoftYaHeiLight;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
}

.Navigation .content .content-time-detail {
    height: 24px;
    font-family: MicrosoftYaHei;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 33px;
    letter-spacing: 0px;
    color: #ffffff;
}

.Navigation .content .content-wrapper .droplink {
    color: #FFF;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
}